/*********************************
	ALJ Recruitment
********************************/
/* Utilities */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-strong {
  font-weight: bold;
}
.text-upper {
  text-transform: uppercase;
}
.bg-top {
  background-position: center top !important;
}
.row-eq-height {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.row.gutter-sm {
  margin-right: -5px;
  margin-left: -5px;
}
.row.gutter-sm > [class*='col-'] {
  padding-right: 5px;
  padding-left: 5px;
}
.row.gutter-md {
  margin-right: -10px;
  margin-left: -10px;
}
.row.gutter-md > [class*='col-'] {
  padding-right: 10px;
  padding-left: 10px;
}
@font-face {
  font-family: 'Karbon';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/karbon/Karbon-Thin.otf"), url('../fonts/karbon/KarbonWeb-Thin.woff') format('woff');
}
@font-face {
  font-family: 'Karbon';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/karbon/Karbon-Regular.otf"), url('../fonts/karbon/KarbonWeb-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Karbon';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/karbon/Karbon-Medium.otf"), url('../fonts/karbon/KarbonWeb-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Karbon';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/karbon/Karbon-Semibold.otf"), url('../fonts/karbon/KarbonWeb-Semibold.woff') format('woff');
}
a,
a span {
  -webkit-transition-duration: .25s;
  -webkit-transition-property: color, background-color, opacity;
  -webkit-transition-delay: 0s;
  -webkit-transition-timing-function: 'ease-in-out';
  transition-duration: .25s;
  transition-property: color, background-color, opacity;
  transition-delay: 0s;
  transition-timing-function: 'ease-in-out';
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Karbon', sans-serif;
}
.wow {
  visibility: hidden;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
#site-wrapper {
  min-width: 1170px;
  overflow: hidden;
  width: 100%;
}
.site-header {
  overflow: hidden;
  position: fixed;
  left: 0 !important;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}
.site-header #logo_white {
  display: block;
}
.site-header #logo_normal {
  display: none;
}
.site-header.changed,
.site-header.fixed {
  height: 74px !important;
  background: #ffffff !important;
  border-bottom: 1px solid #ebebeb;
  overflow: visible;
}
.site-header.changed .button-down,
.site-header.fixed .button-down {
  display: none;
}
.site-header.changed .head-buttons,
.site-header.fixed .head-buttons {
  bottom: auto;
  top: 30px;
  left: 22%;
}
.site-header.changed .head-buttons .btn-switch,
.site-header.fixed .head-buttons .btn-switch {
  background: #ffffff;
  color: #c4c5c8;
}
.site-header.changed .head-buttons .btn-switch.active,
.site-header.fixed .head-buttons .btn-switch.active,
.site-header.changed .head-buttons .btn-switch:hover,
.site-header.fixed .head-buttons .btn-switch:hover {
  color: #558598;
}
.site-header.changed .head-buttons .btn-switch.active,
.site-header.fixed .head-buttons .btn-switch.active {
  position: relative;
}
.site-header.changed .head-buttons .btn-switch.active:after,
.site-header.fixed .head-buttons .btn-switch.active:after {
  position: absolute;
  content: '';
  background: #ffffff;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  border: 1px solid #ebebeb;
  bottom: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.site-header.changed .head-buttons .btn-switch[data-section=working],
.site-header.fixed .head-buttons .btn-switch[data-section=working] {
  color: #c4c5c8;
}
.site-header.changed .head-buttons .btn-switch[data-section=working]:hover,
.site-header.fixed .head-buttons .btn-switch[data-section=working]:hover,
.site-header.changed .head-buttons .btn-switch[data-section=working]:focus,
.site-header.fixed .head-buttons .btn-switch[data-section=working]:focus {
  color: #808183;
}
.site-header.changed .head-buttons .btn-switch[data-section=living],
.site-header.fixed .head-buttons .btn-switch[data-section=living] {
  color: #578596;
}
.site-header.changed .head-buttons .btn-switch[data-section=living]:hover,
.site-header.fixed .head-buttons .btn-switch[data-section=living]:hover,
.site-header.changed .head-buttons .btn-switch[data-section=living]:focus,
.site-header.fixed .head-buttons .btn-switch[data-section=living]:focus {
  color: #466b79;
}
.site-header.changed .head-buttons .btn-switch[data-section=about],
.site-header.fixed .head-buttons .btn-switch[data-section=about] {
  color: #97B5AD;
}
.site-header.changed .head-buttons .btn-switch[data-section=about]:hover,
.site-header.fixed .head-buttons .btn-switch[data-section=about]:hover,
.site-header.changed .head-buttons .btn-switch[data-section=about]:focus,
.site-header.fixed .head-buttons .btn-switch[data-section=about]:focus {
  color: #7d968f;
}
.site-header.changed #logo_normal,
.site-header.fixed #logo_normal {
  display: block;
}
.site-header.changed #logo_white,
.site-header.fixed #logo_white {
  display: none;
}
.site-header.changed .menu-trigger,
.site-header.fixed .menu-trigger {
  background: transparent;
  color: #000;
  font-size: 15px;
  top: 37px;
}
.site-header.changed .menu-trigger i.alj-hamburger,
.site-header.fixed .menu-trigger i.alj-hamburger {
  display: block;
}
.site-header.changed .menu-trigger i.alj-menu-icon,
.site-header.fixed .menu-trigger i.alj-menu-icon {
  display: none;
}
.site-header.changed .menu-trigger:hover,
.site-header.fixed .menu-trigger:hover,
.site-header.changed .menu-trigger:focus,
.site-header.fixed .menu-trigger:focus {
  text-decoration: none;
}
.site-header.changed .logo-white,
.site-header.fixed .logo-white {
  top: 10px;
}
#topBackground {
  transition: background 1.5s linear;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
#topBackground.inner {
  height: auto;
  position: static;
}
#topBackground .media-space {
  background-attachment: fixed !important;
  position: relative;
  transition: 0.5s;
}
#topBackground .media-space #illum {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  opacity: .5;
}
#topBackground .media-space .top-content {
  padding-top: 200px;
  z-index: 10;
  position: absolute;
  left: 100px;
}
#topBackground .media-space .top-content h1 {
  font-size: 40px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 15px;
}
#topBackground .media-space .top-content h2 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 2px;
}
#topBackground .media-space .top-content p {
  font-size: 24px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 10px;
}
#topBackground .media-space .top-content.has-dark-background h2,
#topBackground .media-space .top-content.has-dark-background h1,
#topBackground .media-space .top-content.has-dark-background p {
  color: #ffffff;
}
#topBackground .media-space .top-content.has-dark-background .tags a {
  border-color: #ffffff;
  color: #ffffff;
}
#topBackground .media-space .top-content.has-dark-background .tags a:hover,
#topBackground .media-space .top-content.has-dark-background .tags a:focus {
  background: #ffffff;
  color: rgba(0, 0, 0, 0.3);
}
#topBackground .media-space .top-content .tags a {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  padding: 10px 12px;
}
#topBackground .media-space .top-content .tags a:hover,
#topBackground .media-space .top-content .tags a:focus {
  text-decoration: none;
}
.image-background {
  background-size: cover !important;
  background-position: center center !important;
}
.image-background > img:first-child {
  display: none !important;
}
.image-background.bg-top {
  background-position: center top !important;
}
.menu-trigger {
  color: #848584;
  font-size: 45px;
  display: block;
  height: 47px;
  left: 110px;
  opacity: .7;
  position: fixed;
  text-decoration: none;
  top: 75px;
  transition: all 0.2s ease;
  width: 47px;
  z-index: 4;
}
.menu-trigger i.alj-hamburger {
  display: none;
}
.menu-trigger:hover {
  opacity: 1;
}
.head-buttons {
  position: absolute;
  bottom: 0;
  left: 110px;
}
.head-buttons .btn-switch {
  color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  position: relative;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  font-weight: 400;
  margin-right: 8px;
  transition: all 0s ease-in;
  text-decoration: none;
}
.head-buttons .btn-switch[data-section="working"] {
  background: #C4C5C8;
}
.head-buttons .btn-switch[data-section="living"] {
  background: #578596;
}
.head-buttons .btn-switch[data-section="about"] {
  background: #97B5AD;
}
.head-buttons .btn-switch.active,
.head-buttons .btn-switch:hover {
  color: #ffffff;
}
.logo-white {
  border: 0;
  display: block;
  position: fixed;
  right: 110px;
  top: 75px;
  z-index: 4;
  transition: all 0.2s ease;
}
.logo-white img {
  border: 0;
  height: auto;
  width: 250px;
}
#section {
  -webkit-transition-duration: .75s;
  -webkit-transition-property: all;
  -webkit-transition-delay: 0s;
  -webkit-transition-timing-function: 'ease-in-out';
  transition-duration: .75s;
  transition-property: all;
  transition-delay: 0s;
  transition-timing-function: 'ease-in-out';
  position: relative;
  width: 100%;
  z-index: 8;
}
#section > section {
  height: 100%;
  position: relative;
}
#section > section.hidden {
  position: fixed;
  height: 0;
  top: 0;
}
#section > section.hidden > .b-top {
  left: 100%;
}
#section > section > .b-top {
  overflow: visible;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
#section > section .block-content {
  position: relative;
  z-index: 12;
}
.top-bg {
  display: none;
}
#section > section .top {
  margin-left: 110px;
}
#section > section .top h1 {
  color: #ffffff;
  font-family: 'Karbon', sans-serif;
  font-size: 105px;
  font-weight: 100;
  line-height: 100px;
  margin: 0;
  width: 600px;
}
.mm-menu {
  background: #636264;
}
.mm-menu ul li {
  border: 0 solid transparent;
}
.mm-menu ul li a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 16px;
  padding: 10px 70px 10px 80px;
}
.mm-menu ul li a:hover,
.mm-menu ul li a:focus {
  color: #ffffff;
}
.mm-menu ul li h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 100;
  padding: 40px 70px 0 80px;
}
.mm-menu ul li.login-nav {
  margin: 40px 0 0;
}
.mm-menu ul li.login-nav a {
  padding: 10px 70px 10px 80px;
}
.mm-menu ul li.login-nav a:after {
  height: 0;
  width: 0;
}
.mm-menu ul li.login-nav .mm-fullsubopen + span {
  border: 2px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  margin: 0 0 0 80px;
  padding: 15px 25px;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
.mm-menu ul li.login-nav .mm-fullsubopen + span.no-style {
  border: 0;
  padding: 0;
}
.mm-menu ul li.login-nav .mm-fullsubopen:hover + span {
  background: #ffffff;
  color: #636264;
}
.mm-menu ul li.login-nav .mm-fullsubopen:hover + span.no-style {
  background: transparent;
  color: #ffffff;
}
.mm-menu ul li.main-site {
  position: absolute;
  bottom: 30px;
}
.mm-menu #mm-1 .mm-navbar,
.mm-menu #mm-2 .mm-navbar {
  border-bottom: none;
}
.mm-menu #mm-1 .mm-navbar .mm-title,
.mm-menu #mm-2 .mm-navbar .mm-title {
  display: none;
}
.mm-menu #mm-1 .mm-navbar .mm-prev,
.mm-menu #mm-2 .mm-navbar .mm-prev {
  left: auto;
  right: 50px;
  top: 110px;
}
.mm-menu #mm-1 .mm-navbar .mm-prev:before,
.mm-menu #mm-2 .mm-navbar .mm-prev:before {
  border-color: #ffffff;
  height: 16px;
  width: 16px;
}
.mm-menu .login-form input[type=text],
.mm-menu .login-form input[type=password] {
  background: #ddd;
  border: 0;
  border-radius: 5px;
  color: #636264;
  font-family: 'Karbon', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 70px 0 80px;
  height: 30px;
  padding: 10px;
  width: 280px;
}
.mm-menu .login-form input[type=text]::-webkit-input-placeholder,
.mm-menu .login-form input[type=password]::-webkit-input-placeholder {
  color: #636264;
}
.mm-menu .login-form input[type=text]:-moz-placeholder,
.mm-menu .login-form input[type=password]:-moz-placeholder {
  /* Firefox 18- */
  color: #636264;
}
.mm-menu .login-form input[type=text]::-moz-placeholder,
.mm-menu .login-form input[type=password]::-moz-placeholder {
  /* Firefox 19+ */
  color: #636264;
}
.mm-menu .login-form input[type=text]:-ms-input-placeholder,
.mm-menu .login-form input[type=password]:-ms-input-placeholder {
  color: #636264;
}
.mm-menu .login-form button {
  background: #636264;
  border: 2px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Karbon', sans-serif;
  font-size: 16px;
  display: inline-block;
  margin: 15px 0 0 80px;
  padding: 15px 25px;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
.mm-menu .login-form button:hover {
  background: #ffffff;
  color: #636264;
}
.section-slider-container {
  padding: 100px 0;
}
.section-slider-container .quote-container {
  color: #636264;
  margin: 100px 100px 0 100px;
}
.section-slider-container .quote-container blockquote {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}
.section-slider-container .quote-container .quote-desc {
  font-weight: 300;
  margin-bottom: 0;
}
.section-slider .owl-item {
  transition: all 0.2s ease-in;
}
.section-slider .owl-item > div {
  position: relative;
  opacity: .7;
}
.section-slider .owl-item > div .i-top {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  background: #ffffff;
  z-index: 1000;
  opacity: 1;
  transition: all 0.5s ease;
}
.section-slider .owl-item > div .i-bottom {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #ffffff;
  z-index: 1000;
  opacity: 1;
  transition: all 0.5s ease;
}
.section-slider .owl-item.center {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.section-slider .owl-item.center > div {
  opacity: 1;
}
.section-slider .owl-item.center > div .i-top {
  opacity: 0;
}
.section-slider .owl-item.center > div .i-bottom {
  opacity: 0;
}
.block-3 {
  width: 100%;
  position: relative;
}
.block-3 .img {
  float: right;
  width: 50%;
  overflow: hidden;
}
.block-3 .block-wrapper {
  font-weight: 300;
  margin: 0 auto;
  padding: 130px 110px 26px;
  overflow: hidden;
}
.block-3 .block-wrapper .content {
  float: left;
  width: 50%;
}
.block-3 .block-wrapper h2 {
  font-weight: 400;
  font-size: 40px;
}
.block-3 .block-wrapper p {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  padding: 0 100px 0 0;
}
.block-3 .block-wrapper a {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  text-decoration: none;
}
.block-4 {
  width: 100%;
}
.block-4 .block-wrapper {
  margin: 0 auto;
  padding: 130px 110px;
  overflow: hidden;
}
.block-4 .content {
  font-weight: 300;
}
.block-4 .testimonial {
  width: 82%;
  margin: 0 auto;
  transition: all 0.4s ease;
}
.block-4 .testimonial .testimonial-content {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: #636264;
  padding: 0;
  position: absolute;
  top: 135px;
  left: 55px;
  width: 49%;
  z-index: 4;
}
.block-4 .testimonial .testimonial-content .inner {
  padding: 45px 35px;
}
.block-4 .testimonial .testimonial-content .inner .name {
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 15px 0;
}
.block-4 .testimonial .testimonial-content .inner .desc {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  margin: 0 0 35px 0;
}
.block-4 .testimonial .testimonial-content .inner .button-video {
  color: #636264;
  display: block;
  font-size: 20px;
  font-weight: 400;
  overflow: hidden;
  outline: none;
  text-decoration: none;
}
.block-4 .testimonial .testimonial-content .inner .button-video i {
  float: left;
  font-size: 36px;
  transition: all 0.2s ease;
}
.block-4 .testimonial .testimonial-content .inner .button-video span {
  display: inline-block;
  float: left;
  padding: 5px;
  width: 90%;
}
.block-4 .testimonial .testimonial-img {
  width: 50%;
  float: right;
}
.block-4 .owl-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 55px;
}
.block-4 .owl-dots .owl-dot {
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 25px;
  height: 30px;
  margin: 0 20px 0 0;
  opacity: .7;
  padding: 2px 0 0 0;
  text-align: center;
  transition: all 0.2s ease;
  width: 32px;
}
.block-4 .owl-dots .owl-dot.active,
.block-4 .owl-dots .owl-dot:hover {
  opacity: 1;
}
.block-5 {
  width: 100%;
}
.block-5 .content {
  margin: 0 auto;
  padding: 135px 110px;
}
.block-5 .content h2 {
  font-weight: 400;
  font-size: 40px;
}
.block-5 .content p {
  font-weight: 300;
  line-height: 32px;
  padding: 0 100px 0 0;
  font-size: 24px;
}
.block-5 .content a {
  font-size: 20px;
  text-decoration: none;
}
.block-6 {
  position: relative;
  overflow-x: hidden;
}
.block-6 .content {
  font-weight: 300;
  float: left;
  width: 70%;
  padding: 170px 0 170px 110px;
}
.block-6 .content h3 {
  font-weight: 400;
  font-size: 40px;
  margin: 0;
}
.block-6 .content p {
  margin: 0;
  font-weight: 300;
  line-height: 32px;
  padding: 10px 0 0 0;
  font-size: 24px;
}
.block-6 .bottom-select-container {
  display: inline-block;
  width: 300px;
}
.block-6 .chosen-container {
  margin: 30px 0 0 0;
  transition: all 0.2s ease;
}
.block-6 .chosen-container .chosen-single {
  background: rgba(255, 255, 255, 0.35);
  border: 3px solid #ffffff;
  box-shadow: none;
  height: 65px;
  padding-top: 15px;
  padding-left: 15px;
  transition: all 0.1s ease;
}
.block-6 .chosen-container .chosen-single span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 3px;
  text-transform: uppercase;
}
.block-6 .chosen-container .chosen-single > div {
  right: 10px;
}
.block-6 .chosen-container .chosen-single > div > b {
  background: transparent;
  font-size: 17px;
  padding-top: 19px;
  transition: all 0.1s ease;
}
.block-6 .chosen-container .chosen-single > div > b:before {
  font-family: "alj";
  content: "a";
  color: #ffffff;
  transition: all 0.1s ease;
}
.block-6 .chosen-container.chosen-with-drop .chosen-single {
  background: rgba(255, 255, 255, 0.35);
  border: 3px solid #ffffff;
  box-shadow: none;
  height: 65px;
  padding-top: 15px;
  padding-left: 15px;
}
.block-6 .chosen-container.chosen-with-drop .chosen-single span {
  color: #636264;
}
.block-6 .chosen-container.chosen-with-drop .chosen-single > div > b:before {
  color: #636264;
}
.block-6 .chosen-container .chosen-drop {
  background: rgba(255, 255, 255, 0.35);
  border: 3px solid #ffffff;
  border-top: 0;
  box-shadow: none;
  margin-top: -2px;
}
.block-6 .chosen-container .chosen-drop .chosen-results {
  padding-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.block-6 .chosen-container .chosen-drop .chosen-results li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 500;
  padding: 22px 7px 22px 15px;
  transition: all 0.2s ease;
}
.block-6 .chosen-container .chosen-drop .chosen-results li:last-child {
  border-bottom: 0;
}
.block-6 .chosen-container .chosen-drop .chosen-results li.highlighted {
  background: #ffffff;
}
.block-6 .button-bottom {
  background: rgba(0, 0, 0, 0.15);
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  margin-top: 30px;
  margin-left: 30px;
  padding: 20px;
  text-decoration: none;
  transition: all 0.2s ease;
}
.block-6 .button-bottom:hover {
  background: rgba(0, 0, 0, 0.25);
}
.block-tabs .ui-tabs-panel {
  color: #636264;
  font-family: 'Karbon', sans-serif;
  overflow: hidden;
  padding: 0;
}
.block-tabs .ui-tabs-panel .tab-container {
  overflow: hidden;
  margin: 37px 0 0 0;
}
.block-tabs .ui-tabs-panel .tab-inner {
  display: inline-block;
  float: left;
  width: 50%;
}
.block-tabs .ui-tabs-panel .tab-img {
  display: inline-block;
  float: right;
  width: 50%;
  margin: 40px 0 0 0;
}
.block-tabs .ui-tabs-panel .tab-img .img {
  display: inline;
  float: left;
  overflow: hidden;
  width: 50%;
}
.block-tabs .ui-tabs-panel .stat-block {
  padding: 100px 0;
}
.block-tabs .ui-tabs-panel .stat-block h3 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 100;
  width: 75%;
}
.block-tabs .ui-tabs-panel i {
  font-size: 128px;
}
.block-tabs.ui-tabs {
  background-color: transparent;
  background-image: none;
  border: 0;
  border-radius: 0;
}
.block-tabs.ui-tabs .ui-tabs-nav {
  background: transparent;
  border: 0;
  border-radius: 0;
  margin: 0 0 0 20px;
}
.block-tabs.ui-tabs .ui-tabs-nav li {
  background-image: none;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin-top: 0;
  margin-right: 40px;
  transition: all 0.2s ease;
}
.block-tabs.ui-tabs .ui-tabs-nav li a {
  font-family: 'Karbon', sans-serif;
  font-weight: 300;
  font-size: 16px;
  outline: none;
  padding: 8px 10px;
}
.block-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin-top: 0;
}
.block-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  font-weight: 300;
  padding: 8px 10px;
}
.block-tabs.tabs-working .ui-tabs-nav li {
  background: #ffffff;
  border-color: #c4c5c8;
}
.block-tabs.tabs-working .ui-tabs-nav li a {
  color: #c4c5c8;
}
.block-tabs.tabs-working .ui-tabs-nav li.ui-tabs-active {
  background: #c4c5c8;
}
.block-tabs.tabs-working .ui-tabs-nav li.ui-tabs-active a {
  color: #ffffff;
}
.block-tabs.tabs-living .ui-tabs-nav li {
  background: #ffffff;
  border-color: #558598;
}
.block-tabs.tabs-living .ui-tabs-nav li a {
  color: #558598;
}
.block-tabs.tabs-living .ui-tabs-nav li.ui-tabs-active {
  background: #558598;
}
.block-tabs.tabs-living .ui-tabs-nav li.ui-tabs-active a {
  color: #ffffff;
}
.block-tabs.tabs-about .ui-tabs-nav li {
  background: #ffffff;
  border-color: #96B5AD;
}
.block-tabs.tabs-about .ui-tabs-nav li a {
  color: #96B5AD;
}
.block-tabs.tabs-about .ui-tabs-nav li.ui-tabs-active {
  background: #96B5AD;
}
.block-tabs.tabs-about .ui-tabs-nav li.ui-tabs-active a {
  color: #ffffff;
}
.stats > div:last-of-type {
  margin: 0 0 0;
}
.stat-block {
  float: left;
  display: inline-block;
  margin: 0 0 50px;
  width: 50%;
}
.stat-block.stat-block-full {
  display: block;
  float: none;
  width: 100%;
}
.stat-block h3 {
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin: 30px 0 10px 0;
}
.stat-block ul {
  margin: 0;
  padding: 0 0 0 15px;
}
.stat-block ul li {
  font-size: 18px;
  margin-bottom: 15px;
}
.stat-block ul li:last-child {
  margin-bottom: 0;
}
.icon-stat {
  width: 85px;
  height: auto;
}
.icon-stat path,
.icon-stat line,
.icon-stat polygon {
  stroke: #fff !important;
}
.hidden-switch {
  display: none;
}
.bottom-share {
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 28px;
  text-decoration: none;
  margin: 35px 28px 0;
  position: relative;
  vertical-align: middle;
}
.bottom-share .share-expand {
  background: #ffffff;
  border-radius: 5px;
  display: none;
  margin: 15px 0 0;
  padding: 5px 0;
  position: absolute;
  top: 40px;
  text-align: center;
}
.bottom-share .share-expand:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 5px;
  margin-left: -5px;
}
.bottom-share .share-expand a {
  display: block;
  font-size: 20px;
  padding: 5px 10px;
}
.bottom-share.share-working .share-expand a {
  color: #c4c5c8;
}
.bottom-share.share-working .share-expand a:hover {
  color: #5d5e63;
}
.bottom-share.share-living .share-expand a {
  color: #558598;
}
.bottom-share.share-living .share-expand a:hover {
  color: #0c1315;
}
.bottom-share.share-about .share-expand a {
  color: #c4c5c8;
}
.bottom-share.share-about .share-expand a:hover {
  color: #5d5e63;
}
/* Footer */
.site-footer {
  background: #636264;
  color: #bcbbbc;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  z-index: 3;
}
.site-footer .footer-content {
  padding: 33px 110px;
  position: relative;
}
.site-footer .footer-content .alj-website-link {
  position: absolute;
  top: 33px;
  right: 100px;
}
.site-footer .footer-content .alj-website-link a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.footer-nav {
  margin: 10px 0 0 0;
}
.footer-nav a {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin: 0 20px 0 0;
  text-decoration: none;
  transition: all 0.2s ease;
}
.footer-nav a:hover {
  color: #ffffff;
}
.mfp-wrap.mfp-testimonial-video .mfp-iframe-holder .mfp-content {
  width: 70%;
  max-width: none;
}
.mfp-wrap.mfp-testimonial-video .mfp-container {
  top: 60px;
}
.browser-ie .img.parallax {
  position: static;
  top: auto;
  right: auto;
}
.button-down {
  display: inline-block;
  height: 50px;
  margin-top: 50px;
  position: absolute;
  width: 50px;
  left: 110px;
  bottom: 20%;
  z-index: 99;
}
/* Search top */
.search-top .form-control {
  background: rgba(255, 255, 255, 0.78);
  border: 0;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.4);
  font-size: 24px;
  font-weight: 300;
  height: 65px;
}
.search-top .form-control:focus {
  border: 0;
  outline: none;
}
.search-top .chosen-container {
  margin: 0;
  transition: all 0.2s ease;
  width: 100% !important;
}
.search-top .chosen-container .chosen-single {
  background: rgba(255, 255, 255, 0.78);
  border: 0;
  box-shadow: none;
  height: 65px;
  padding-top: 20px;
  padding-left: 15px;
  transition: all 0.1s ease;
}
.search-top .chosen-container .chosen-single span {
  color: rgba(0, 0, 0, 0.4);
  font-size: 24px;
  font-weight: 300;
}
.search-top .chosen-container .chosen-single > div {
  right: 10px;
}
.search-top .chosen-container .chosen-single > div > b {
  background: transparent;
  padding-top: 20px;
  transition: all 0.1s ease;
}
.search-top .chosen-container .chosen-single > div > b:before {
  font-family: "alj";
  content: "a";
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  transition: all 0.1s ease;
}
.search-top .chosen-container.chosen-with-drop .chosen-single {
  background: rgba(255, 255, 255, 0.78);
  border: 0;
  box-shadow: none;
  height: 60px;
  padding-top: 20px;
  padding-left: 15px;
}
.search-top .chosen-container.chosen-with-drop .chosen-single span {
  color: #636264;
}
.search-top .chosen-container.chosen-with-drop .chosen-single > div > b:before {
  color: #636264;
}
.search-top .chosen-container .chosen-drop {
  background: rgba(255, 255, 255, 0.78);
  border: 0;
  border-top: 0;
  box-shadow: none;
  margin-top: -2px;
}
.search-top .chosen-container .chosen-drop .chosen-results {
  padding-left: 0;
  margin-right: 0;
}
.search-top .chosen-container .chosen-drop .chosen-results li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 500;
  padding: 15px 7px 15px 15px;
  transition: all 0.2s ease;
}
.search-top .chosen-container .chosen-drop .chosen-results li:last-child {
  border-bottom: 0;
}
.search-top .chosen-container .chosen-drop .chosen-results li.highlighted {
  background: #ffffff;
}
.search-top .btn-search {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.78);
  color: #ffffff;
  height: 65px;
  transition: all 0.2s ease;
}
.search-top .btn-search:hover,
.search-top .btn-search:focus {
  background: rgba(255, 255, 255, 0.78);
  color: rgba(0, 0, 0, 0.4);
  outline: none;
}
/* Sort Articles */
.sort {
  padding: 15px 0;
  position: relative;
}
.sort.sort-working {
  background: #9fa0a2;
  color: #ffffff;
}
.sort.sort-working .btn-sort {
  color: #ffffff;
}
.sort.sort-working .btn-sort:hover,
.sort.sort-working .btn-sort.active {
  background: #ffffff;
  box-shadow: none;
  color: #9fa0a2;
}
.sort.sort-working .chosen-container .chosen-single span {
  color: #9fa0a2;
}
.sort.sort-working .chosen-container .chosen-single div b {
  color: #9fa0a2;
}
.sort.sort-working .chosen-container.chosen-with-drop .chosen-single span {
  color: #9fa0a2;
}
.sort.sort-working .chosen-container.chosen-with-drop .chosen-single div b:before {
  color: #9fa0a2;
}
.sort.sort-working .chosen-container .chosen-drop .chosen-results li.highlighted {
  background: #9fa0a2;
  color: #ffffff;
}
.sort.sort-working .btn-login:hover,
.sort.sort-working .btn-login:focus {
  color: #9fa0a2;
}
.sort label {
  font-size: 24px;
  font-weight: 300;
  margin-right: 10px;
}
.sort .btn-sort {
  background-color: transparent;
  border: 0;
  font-size: 12px;
  font-weight: 400;
  padding: 8px 15px;
  margin-right: 10px;
}
.sort .chosen-container {
  margin: 0;
  transition: all 0.2s ease;
  width: 100% !important;
}
.sort .chosen-container .chosen-single {
  background: #ffffff;
  border: 0;
  box-shadow: none;
  height: 32px;
  padding-top: 5px;
  padding-left: 15px;
  transition: all 0.1s ease;
}
.sort .chosen-container .chosen-single span {
  font-size: 12px;
  font-weight: 400;
}
.sort .chosen-container .chosen-single > div {
  right: 5px;
}
.sort .chosen-container .chosen-single > div > b {
  background: transparent;
  padding-top: 5px;
  transition: all 0.1s ease;
}
.sort .chosen-container .chosen-single > div > b:before {
  font-family: "alj";
  content: "a";
  font-size: 12px;
  transition: all 0.1s ease;
}
.sort .chosen-container.chosen-with-drop .chosen-single {
  background: #ffffff;
  border: 0;
  box-shadow: none;
  height: 32px;
  padding-top: 5px;
  padding-left: 15px;
}
.sort .chosen-container.chosen-with-drop .chosen-single > div > b:before {
  color: #636264;
}
.sort .chosen-container .chosen-drop {
  background: #ffffff;
  border: 0;
  border-top: 0;
  box-shadow: none;
  margin-top: -2px;
}
.sort .chosen-container .chosen-drop .chosen-results {
  padding-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.sort .chosen-container .chosen-drop .chosen-results li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 500;
  padding: 10px 7px 10px 10px;
  transition: all 0.2s ease;
}
.sort .chosen-container .chosen-drop .chosen-results li:last-child {
  border-bottom: 0;
}
.sort .btn-login {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.sort .btn-login:hover {
  background: #ffffff;
}
/* Listing */
.articles-list {
  padding: 30px 0;
  position: relative;
}
.articles-list h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 20px 0;
  padding: 0;
}
.articles-list h2 span {
  opacity: 0.8;
}
.articles-list .btn-clear {
  margin-top: 35px;
}
.articles-list .btn-clear i {
  font-size: 10px;
  font-style: normal;
  font-weight: 100;
  margin: 0 0 0 5px;
  vertical-align: middle;
}
.articles-list .row-eq-height > div[class*="col-"] {
  margin-bottom: 75px;
}
.articles-list.articles-working h2 {
  color: #9fa0a2;
}
.articles-list.articles-working .btn-clear {
  color: #9fa0a2;
}
.articles-list.articles-working .article-list--post .title {
  background: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
}
.articles-list.articles-working .article-list--post .title h3 {
  color: #9fa0a2;
}
.articles-list.articles-working .article-list--post:hover .title {
  background: #ccc;
}
.articles-list.articles-working .article-list--post:hover .title h3 {
  color: #ffffff;
}
.articles-list.articles-working .article-list--post.article-locked .lock {
  background: #636264;
}
.articles-list.articles-working .article-list--post.article-locked .lock i {
  background: #ffffff;
  color: #636264;
}
.articles-list.articles-working .article-tags {
  margin: 15px 0 0;
}
.articles-list.articles-working .article-tags a {
  border-color: #d1d2d3;
  color: #d1d2d3;
}
.articles-list.articles-working .article-tags a:hover {
  border-color: #838588;
  color: #838588;
}
.article-list--post {
  display: block;
  position: relative;
}
.article-list--post .img {
  border-radius: 5px;
  position: relative;
  height: 145px;
  overflow: hidden;
}
.article-list--post .img img {
  bottom: -9999px;
  left: -9999px;
  margin: auto;
  max-width: 100%;
  position: absolute;
  right: -9999px;
  top: -9999px;
}
.article-list--post .img .shadow {
  box-shadow: inset 0 0 15px 0 #999999;
  border-radius: 5px;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  top: 0;
}
.article-list--post .title {
  margin-top: -3px;
  min-height: 80px;
  padding: 15px;
  transition: all 0.2s ease;
}
.article-list--post .title h3 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease;
}
.article-list--post:hover,
.article-list--post:focus {
  text-decoration: none;
}
.article-list--post.article-locked .lock {
  border: 2px solid #ffffff;
  border-radius: 5px;
  height: 39px;
  padding: 9px;
  position: absolute;
  right: 22px;
  text-align: center;
  top: -22px;
  width: 39px;
  z-index: 3;
}
.article-list--post.article-locked .lock svg {
  fill: #ffffff;
  width: 75%;
  height: auto;
}
.article-tags a {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
  margin-right: 4px;
  padding: 8px 10px;
  transition: all 0.2s ease;
}
.article-tags a:hover {
  text-decoration: none;
}
.other-sections a {
  color: #ffffff;
  display: block;
  height: 390px;
  padding: 100px 100px 0;
  transition: all 0.5s ease;
}
.other-sections a p {
  font-size: 68px;
  font-weight: 100;
  line-height: 64px;
}
.other-sections a:hover {
  text-decoration: none;
  padding: 140px 100px 0;
}
/*# sourceMappingURL=main.css.map */